# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
fastapi-env/

# Environment variables
.env

# VSCode settings
.vscode/

# Miscellaneous
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
